
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Paage</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Custom font -->
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

	<!-- User data -->
	<script>
		const person = <%-JSON.stringify(person)%>
		// console.log(person);
	</script>


	<title>Paage</title>
	<meta name="title" content="Paage">
	<meta name="description" content="More leads to <%- person.org.name %>?">

	<!-- Facebook tags -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="More leads to <%- person.org.name %>?">
	<meta property="og:description" content="More leads to <%- person.org.name %>?">
	<meta property="og:image" content="https://d33w6qmiqoj74y.cloudfront.net/RlYZir00-<%- person.name %>@<%- person.org.domain %>-<%- person.name %>.png">

	<!-- Twitter tags -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:description" content="More leads to <%- person.org.name %>?">
	<meta property="twitter:image" content="https://d33w6qmiqoj74y.cloudfront.net/RlYZir00-<%- person.name %>@<%- person.org.domain %>-<%- person.name %>.png">
	
	<!-- Tailwind -->
	<link rel="stylesheet" href="/css/output.css?v=4">
</head>


<body class="overflow-x-hidden antialiased text-left">

	<!-- Nav -->
	<nav class="sm:hidden">
		<a href="/" class="text-slate-800 font-medium text-md hover:text-sky-500 transition" target="_blank">
			<div class="flex items-center px-8 py-3 flex items-center">
				<img src="/images/splash/logo_cropped.png" class="h-10 rounded-md border-4 border-white mr-2">
				<span>Paage</span>
			</div>
		</a>
	</nav>

	<!-- Banner -->
	<section class="h-24 sm:h-60 relative border-b border-slate-100" id="cover">
	</section>



	<!-- Their logo -->
	<div class="mx-auto max-w-5xl relative h-full -mt-16 max-w-5xl px-8 lg:px-0">
		<img src="<%- person.org.logo_url %>" class="h-32 rounded-xl -bottom-16 shadow-sm" id="logo" crossorigin="anonymous" />
		<!-- <img src="https://logo.clearbit.com/onesignal.com" class="h-32 rounded-2xl -bottom-16 border-white left-0" id="logo"> -->
	</div>


	<!-- Full body -->
	<section class="max-w-5xl mx-auto lg:flex lg:space-x-20 items-start px-8 lg:px-0 mt-10 transition opacity-0 translate-y-4 duration-1000" data-replace='{ "opacity-0": "opacity-100", "translate-y-4": "translate-y-0"}'>

		<!-- Content -->
		<div class="flex-grow space-y-12">

			<!-- Headline -->
			<section>
				<p class="text-slate-900 font-extrabold text-2xl sm:text-3xl capitalize">Hey <%=person.name%>! 👋</p>
				<p class="text-slate-700 text-lg mt-2">With Paage you can track how people share this page</p>
			</section>

			<!-- Video -->
			<section class="max-w-3xl">

				<p class="text-xl text-slate-900 font-semibold tracking-tight dark:text-slate-50 mb-2">Embed videos</p>
				<p class="text-slate-700">Show your product demo. Embed from Loom, Vidyard, BomBomb, Youtube, etc</p>

				<!-- Embed -->
				<div class="mt-4">
					<div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/fa479f5620ff425c90ec0cd9f6e087bf" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
				</div>
			</section>

			<section class="max-w-3xl text-sky-500 text-md text-left">
				<p class="text-xl text-slate-900 font-semibold tracking-tight dark:text-slate-50 mb-2">One link for everything</p>
				<p class="text-slate-700">This makes it easy for your prospects to pass it around the company</p>
			</section>

			<!-- Feature -->
			<section class="max-w-3xl text-sky-500 text-md text-left">
				<p class="text-xl text-slate-900 font-semibold tracking-tight dark:text-slate-50 mb-2">Automatically personalized</p>
				<p class="text-slate-700">Link preview is automatically personalized to show your prospect's name and logo</p>
			</section>

			<section class="max-w-3xl text-sky-500 text-md text-left">
				<p class="text-xl text-slate-900 font-semibold tracking-tight dark:text-slate-50 mb-2">Track everything</p>
				<p class="text-slate-700">Did they read your one-pager? How many times? How much time did they spend on the page? Which links on this page did they click? You'll have all the answers</p>
			</section>

			<section class="max-w-3xl text-sky-500 text-md text-left">
				<p class="text-xl text-slate-900 font-semibold tracking-tight dark:text-slate-50 mb-2">Track sharing</p>
				<p class="text-slate-700">Track if, when, and who shared your one-pager in Slack, iMessage, FB Messenger, LinkedIn message</p>
			</section>

			<!-- <section class="max-w-3xl text-sky-500 text-md text-left">
				<p class="text-xl text-slate-900 font-semibold tracking-tight dark:text-slate-50 mb-2">Latest version, always</p>
				<p class="text-slate-700">Easily update your one-pager with your latest pitch</p>
			</section> -->
			

			<!-- Case studies -->
			<section class="max-w-3xl text-sky-500 text-md text-left">
				<p class="text-xl text-slate-900 font-semibold tracking-tight dark:text-slate-50 mb-2">Share links</p>
				<p class="text-slate-700">Link to important resources</p>

				<div class="space-y-4 text-sky-500 mt-4">
					<div>
						<a target="_blank" class="hover:text-sky-600" href="/">Case study #1</a>	
					</div>
					<div>
						<a target="_blank" class="hover:text-sky-600" href="/">Case study #2</a>	
					</div>
					<div>
						<a target="_blank" class="hover:text-sky-600" href="/">Case study #3</a>
					</div>
				</div>
			</section>
		</div>


		<!-- Profile -->
		<div class="w-full mt-16 lg:mt-0 lg:w-1/5 text-slate-500 text-sm flex-none">

			<div class="mt-4 space-y-6 divide-y divide-slate-200">

				<div class="hidden lg:block">
					<!-- Logo -->
					<img src="/images/splash/logo_cropped.png" class="w-16 rounded-md" id="myLogo">

					<!-- Name -->
					<div class="mt-4">
						<a href="/" class="text-slate-800 font-medium text-lg hover:text-sky-500 transition" target="_blank">Paage</a>
						<p class="mt-2">Track your pitch</p>
					</div>	
				</div>

				<!-- Customers -->
				<div class="pt-6 text-sm select-none">

					<p class="uppercase font-medium mb-3 uppercase">Our Customers (example)</p>

					<div class="space-y-3">
						<div class="flex items-center">
							<img src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://stripe.com&size=32" class="rounded h-6">
							<p class="ml-3">Stripe</p>
						</div>
						<div class="flex items-center">
							<img src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://segment.com&size=32" class="rounded h-6">
							<p class="ml-3">Segment</p>
						</div>
						<div class="flex items-center">
							<img src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://twilio.com&size=32" class="rounded h-6">
							<p class="ml-3">Twilio</p>
						</div>
						<div class="flex items-center">
							<img src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://intercom.com&size=32" class="rounded h-6">
							<p class="ml-3">Intercom</p>
						</div>
						<div class="flex items-center">
							<img src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://miro.com&size=32" class="rounded h-6">
							<p class="ml-3">Miro</p>
						</div>
					</div>
				</div>

				<!-- Integrations -->
				<div class="pt-6 text-sm select-none">

					<p class="uppercase font-medium mb-3 uppercase">Integrates with</p>

					<div class="space-y-3">
						<div class="flex items-center">
							<img src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://salesforce.com&size=24" class="rounded h-6">
							<p class="ml-3">Salesforce</p>
						</div>
						<div class="flex items-center">
							<img src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://hubspot.com&size=24" class="rounded h-6">
							<p class="ml-3">Hubspot</p>
						</div>
						<div class="flex items-center">
							<img src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://slack.com&size=24" class="rounded h-6">
							<p class="ml-3">Slack</p>
						</div>
					</div>
				</div>

				<!-- VC -->
				<div class="pt-6 text-sm select-none">

					<p class="uppercase font-medium mb-3 uppercase">Raised from (example)</p>

					<div class="space-y-3">
						<div class="flex items-center">
							<img src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://a16z.com&size=24" class="rounded h-6">
							<p class="ml-3">Andreessen Horowitz</p>
						</div>
						<div class="flex items-center">
							<img src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://sequoiacap.com&size=24" class="rounded h-6">
							<p class="ml-3">Sequoia Capital</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>



	<!-- Calendar -->
	<section class="max-w-7xl mx-auto py-24 mt-16 border-t border-slate-200">

		<div class="px-4">
			<p class="text-4xl text-slate-800 font-bold tracking-tight dark:text-slate-50 mb-4 text-center">Add your calendar</p>
			<p class="text-slate-500 text-xl text-center">Embed from Calendly, Outreach, Chilipiper, more</p>
		</div>

		<div class="mt-6">
			<div class="calendly-inline-widget" data-url="https://calendly.com/neil-paage/30min?hide_gdpr_banner=1" style="min-width:320px;height:750px;"></div>
			<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
		</div>
	</section>

</body>


<!-- Blurred image -->
<script src="https://unpkg.com/fast-average-color/dist/index.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>	

	$("#logo").one('load', function() {
		colorCover();
		animateIn();
	}).on('error', function(e) {
		colorCover();
		animateIn();
	}).attr('src', "<%- person.org.logo_url %>");


	function colorCover() {
		const fac = new FastAverageColor();
		const container = document.getElementById("cover");

		const color = fac.getColor(document.getElementById("logo"), {algorithm: "simple"});
		container.style.backgroundColor = color.rgba;
		container.style.color = color.isDark ? '#fff' : '#000';		
		console.log(color);
	}

	function animateIn() {
		var replacers = document.querySelectorAll('[data-replace]');
		for(var i=0; i<replacers.length; i++){
			let replaceClasses = JSON.parse(replacers[i].dataset.replace.replace(/'/g, '"'));
			Object.keys(replaceClasses).forEach(function(key) {
				replacers[i].classList.remove(key);
				replacers[i].classList.add(replaceClasses[key]);
			});
		}
	}

</script>


<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function(){
		
	});
</script>

<!-- Slack notification -->

<script type="text/javascript">
	// (function() {

	// 	var data = {};
	// 	data.email = "onepage: " + "<%- person.name %>";

	// 	$.ajax({
	// 		type: "POST",
	// 		url: 'https://godsend.ai/watch/triggerWatch',
	// 		data: data,
	// 		success: function (ret) {
	// 		}
	// 	});
	// })();

</script>

</html>