
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Paage</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Custom font -->
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

	<!-- User data -->
	<script>
		const me = <%-JSON.stringify(me)%>;
		const person = <%-JSON.stringify(person)%>;
		// console.log(person);
	</script>


	<title>Paage</title>
	<meta name="title" content="Paage">
	<meta name="description" content="More leads to <%- person.org.name %>?">

	<!-- Facebook tags -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="More leads to <%- person.org.name %>?">
	<meta property="og:description" content="More leads to <%- person.org.name %>?">
	<meta property="og:image" content="https://d33w6qmiqoj74y.cloudfront.net/RlYZir00-<%- person.name %>@<%- person.org.domain %>-<%- person.name %>.png">

	<!-- Twitter tags -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:description" content="More leads to <%- person.org.name %>?">
	<meta property="twitter:image" content="https://d33w6qmiqoj74y.cloudfront.net/RlYZir00-<%- person.name %>@<%- person.org.domain %>-<%- person.name %>.png">
	
	<!-- Tailwind -->
	<link rel="stylesheet" href="/css/output.css?v=5">
</head>


<body class="overflow-x-hidden antialiased text-left">

	<!-- Nav -->
	<!-- <nav class="sm:hidden">
		<a href="/" class="text-slate-800 font-medium text-md hover:text-sky-500 transition" target="_blank">
			<div class="flex items-center px-8 py-3 flex items-center">
				<img src="/images/splash/logo_cropped.png" class="h-10 rounded-md border-4 border-white mr-2">
				<span>Paage</span>
			</div>
		</a>
	</nav> -->


	<!-- Profile photo -->
	<div class="hidden lg:block text-sm border-b border-slate-200">
		<div class="text-sm text-slate-700 px-12 flex items-center py-3 select-none max-w-6xl mx-auto">
			<div class="flex-1 flex items-center">
				<img src="/images/temp/me.png" class="rounded-full h-8">
				<span class="ml-3">Neil Gandhi</span>
			</div>
			<div class="flex items-center">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
				</svg>
				<span class="pl-2">805-791-7699</span>
			</div>
		</div>	
	</div>



	<!-- Cover banner -->
	<section>

		<!-- Title and logos -->
		<div class="max-w-4xl mx-auto pt-28">

			<!-- Logo -->
			<div class="flex items-center justify-center transition duration-1000 space-x-24 opacity-0" data-replace='{ "opacity-0": "opacity-100", "space-x-24": "space-x-12"}'>
				<div class="p-8 rounded-3xl border border-slate-100" id="container_logo_me">
					<img id="logo_me" class="h-20 w-20 rounded-3xl" src="" crossorigin="anonymous">
				</div>
				<div class="p-8 rounded-3xl border border-slate-100" id="container_logo_them">
					<img id="logo_them" class="h-20 w-20 rounded-3xl" src="" crossorigin="anonymous" data-replace='{ "opacity-0": "opacity-100"}'/>
				</div>
			</div>

			<!-- Title -->
			<h1 class="text-2xl tracking-tight font-bold text-slate-800 sm:text-5xl md:text-6xl mt-16 text-center">Bring <%-person.org.name%> customers back</h1>
			<p class="mt-5 text-center text-slate-600 leading-relaxed text-2xl">America's obesity rate isn't rising fast enough. Let's fix that <span class="capitalize"><%-person.name%></span>.</p>
		</div>
	</section>


	<!-- User content -->
	<div class="space-y-24 md:space-y-36 mt-24 px-8">

		<!-- Video -->
		<section class="max-w-4xl mx-auto">
			<div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/fa479f5620ff425c90ec0cd9f6e087bf" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
		</section>

		<!-- Logos -->
		<section class="max-w-4xl mx-auto">

			<div class="flex items-center">
				<div class="h-0.5 bg-slate-200 flex-1"></div>
				<span class="uppercase font-semibold text-slate-900 tracking-wide px-16 text-lg">We're trusted by</span>
				<div class="h-0.5 bg-slate-200 flex-1"></div>
			</div>
			<div class="flex items-center justify-center h-20 mx-auto space-x-10 mt-12">
				<img class="rounded-2xl h-full" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/ohsxr1q7rp02n18hli8v">
		
				<img class="rounded-2xl h-full" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/vtppiefgfwgmtcts5ajw">
		
				<img class="rounded-2xl h-full" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/xk4ewsz9ipareo7vjijb">
		
				<img class="rounded-2xl h-full" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/z2oij7tz8clombokaxar">
		
				<img class="rounded-2xl h-full" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/ahy8csgskghymkbsws9f">
			</div>
		</section>

		<!-- Quote option 1 -->
		<section class="rounded-2xl max-w-4xl mx-auto drop-shadow-lg" id="testimonial">
			<div class="w-full px-12 py-20 mx-auto text-gray-600 rounded-3xl bg-white drop-shadow-md">
				<div class="mx-auto sm:text-center">
					<div class="flex items-center justify-center mb-8">
						<img src="https://i.imgur.com/pWSfHaV.jpeg" class="rounded-full h-14 border border-slate-200">
						<span class="font-semibold text-3xl ml-4 text-slate-700">ShakeShack</span>
					</div>
					<!-- <div class="text-indigo-500">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-4 currentColor" viewBox="0 0 24 24"><path fill="currentColor" d="M13 14.725c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275z"></path></svg>
					</div> -->
					<p class="text-slate-800 text-2xl mt-10 mb-14 font-medium leading-relaxed">“With OneSignal, we’re able to actually make decisions around targeting based on engagement information.”</p>
					<div class="flex items-center justify-center space-x-4">
						<img src="https://productiv.com/wp-content/uploads/2021/10/profile-pic-mike.png" class="rounded-full h-16 border border-slate-200">
						<div class="text-left">
							<p class="text-slate-900 font-medium">Shannon Reilly</p>
							<p class="text-slate-500 font-medium">CRM Manager</p>
						</div>
					</div>
				</div>
			</div>
		</section>



		<!-- Content + company profile -->
		<!-- Content -->
		<section class="max-w-4xl mx-auto space-y-14">

			<!-- Headline -->
			<!-- <section>
				<p class="text-4xl text-slate-900 font-bold tracking-tight dark:text-slate-50 capitalize">Hey <%=person.name%>! 👋</p>
			</section> -->

			<section class="text-sky-500 text-md text-left">
				<p class="text-2xl text-slate-900 font-bold tracking-tight dark:text-slate-50 mb-3">Use Paage at <%=person.org.name%></p>
				<p class="text-slate-700 text-lg">Make personalized one-pagers for all your prospects</p>
			</section>


			<section class="text-sky-500 text-md text-left">
				<p class="text-2xl text-slate-900 font-bold tracking-tight dark:text-slate-50 mb-3">One link for everything</p>
				<p class="text-slate-700 text-lg">This makes it easy for your prospects to pass it around the company</p>
			</section>

			<!-- Feature -->
			<section class="text-sky-500 text-md text-left">
				<p class="text-2xl text-slate-900 font-bold tracking-tight dark:text-slate-50 mb-3">Automatically personalized</p>
				<p class="text-slate-700 text-lg">Link preview is automatically personalized to show your prospect's name and logo</p>
			</section>

			<section class="text-sky-500 text-md text-left">
				<p class="text-2xl text-slate-900 font-bold tracking-tight dark:text-slate-50 mb-3">Track everything</p>
				<p class="text-slate-700 text-lg">Did they read your one-pager? How many times? How much time did they spend on the page? Which links on this page did they click? You'll have all the answers</p>
			</section>

			<section class="text-sky-500 text-md text-left">
				<p class="text-2xl text-slate-900 font-bold tracking-tight dark:text-slate-50 mb-3">Track sharing</p>
				<p class="text-slate-700 text-lg">Track if, when, and who shared your one-pager in Slack, iMessage, FB Messenger, LinkedIn message</p>
			</section>

			<!-- <section class="max-w-3xl text-sky-500 text-md text-left">
				<p class="text-2xl text-slate-900 font-bold tracking-tight dark:text-slate-50 mb-3">Latest version, always</p>
				<p class="text-slate-700 text-lg">Easily update your one-pager with your latest pitch</p>
			</section> -->
			

			<!-- Case studies -->
			<section class="max-w-3xl text-sky-500 text-md text-left">
				<p class="text-3xl text-slate-900 font-bold tracking-tight dark:text-slate-50 mb-4">Share links</p>
				<p class="text-slate-600 text-xl">Link to important resources</p>

				<div class="space-y-4 text-sky-500 mt-4">
					<div>
						<a target="_blank" class="hover:text-sky-600" href="/">Case study #1</a>	
					</div>
					<div>
						<a target="_blank" class="hover:text-sky-600" href="/">Case study #2</a>	
					</div>
					<div>
						<a target="_blank" class="hover:text-sky-600" href="/">Case study #3</a>
					</div>
				</div>
			</section>
		</section>
	</div>

	<!-- Calendar -->
	<section class="bg-slate-50 border-t border-b border-slate-200 mt-24">
		<section class="py-24" id="calendar">

			<div class="px-4">
				<p class="text-4xl text-slate-800 font-bold tracking-tight dark:text-slate-50 mb-4 text-center">Add your calendar</p>
				<p class="text-slate-500 text-xl text-center">Embed from Calendly, Outreach, Chilipiper, more</p>
			</div>

			<div class="mt-6">
				<div class="calendly-inline-widget" data-url="https://calendly.com/neil-paage/30min?hide_gdpr_banner=1" style="min-width:320px;height:750px;"></div>
				<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
			</div>
		</section>
	</section>

</body>


<!-- Blurred image -->
<script src="https://unpkg.com/fast-average-color/dist/index.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>	


	// My Color
	const needBackground = 
	[{
		id: "me", 
		value: "<%- me.logo_url %>"
	},
	{
		id: "them",
		value: "<%- person.org.logo_url %>"
	}];
	needBackground.forEach(setBackground);


	var bgSet = needBackground.length;
	function setBackground(elem) {
		console.log(elem);
		$("#logo_" + elem.id).one('load', function() {
			colorCover(elem.id);

			bgSet -= 1;
			if (bgSet == 0) {
				animateIn();
			}
		}).on('error', function(e) {
			colorCover();
		}).attr('src', elem.value);
	}



	function colorCover(personId) {
		const fac = new FastAverageColor();
		const container = document.getElementById("container_logo_" + personId);

		const color = fac.getColor(document.getElementById("logo_" + personId), {algorithm: "simple"});
		container.style.backgroundColor = color.hex + "1A";
		// container.style.color = color.isDark ? '#fff' : '#000';		
		console.log(color);
	}

	function animateIn() {
		var replacers = document.querySelectorAll('[data-replace]');
		for(var i=0; i<replacers.length; i++){
			let replaceClasses = JSON.parse(replacers[i].dataset.replace.replace(/'/g, '"'));
			Object.keys(replaceClasses).forEach(function(key) {
				replacers[i].classList.remove(key);
				replacers[i].classList.add(replaceClasses[key]);
			});
		}
	}

</script>


<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function(){
		
	});
</script>

<!-- Slack notification -->

<script type="text/javascript">
	// (function() {

	// 	var data = {};
	// 	data.email = "onepage: " + "<%- person.name %>";

	// 	$.ajax({
	// 		type: "POST",
	// 		url: 'https://godsend.ai/watch/triggerWatch',
	// 		data: data,
	// 		success: function (ret) {
	// 		}
	// 	});
	// })();

</script>

</html>